body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: normal;
  letter-spacing: 0.00em;
  text-transform: none;
  font-variant: normal;
  font-style: normal;
  font-size: 15px;
}
