body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: normal;
  letter-spacing: 0.00em;
  text-transform: none;
  font-variant: normal;
  font-style: normal;
  font-size: 15px;
}

@font-face {
  font-family: 'FontTitle';
  src: url('/font/freebooterscript.ttf');
}

@font-face {
  font-family: 'FontDob';
  src: url('/font/DobkinPlain.ttf');
}

@font-face {
  font-family: 'FontRouge';
  src: url('/font/RougeScript-Regular.ttf')
}