.page-header {
  margin: auto;
  background-image: url("/images/background.gif");
  border: 0;
  overflow: hidden;
}

#logo {
  vertical-align: middle;
  width: 30%;
  margin-left: 10px;
}

.sentence {
  flex: 1;
  font-style: oblique;
  color: #fff;
  font-size: 16px;
  margin-top: -20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

#heart {
  vertical-align: middle;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-top: -20px;
  width: 25%;
}

.header {
  height: 150px;
  display: flex;
  margin-top: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.translate-btn {
  text-align: right !important;
  border-radius: 30px;
}

.custom-translate-btn {
  color: deeppink;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 30%;
  /* padding: 10px; */
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}