#introduction h1.title {
  color: deeppink;
  font-family: FontTitle;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  text-align: center;
  line-height: 80px;
  margin-bottom: 50px;
}

#introduction .content {
  max-height: 6em;
  overflow: hidden;
  position: relative;
  display: block;
  line-height: 2em;
}

#introduction .content::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%);
  content: '\200C';
  display: block;
  position: absolute;
  right: 0;
  top: 4em;
  width: 10%;
}

.read-more {
  max-height: 100% !important;
  line-height: 2em;
}

#introduction .btn {
  padding: 0px;
}

.flower-line{
  text-align: center;
  margin: 50px 0 50px 0;
}