#invitation-card h1.title {
  color: deeppink;
  font-family: FontTitle;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  text-align: center;
  line-height: 80px;
  margin-bottom: 50px;
}

/* #invitation-card .content {
  background-image: url('/images/bia.JPG');
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: FontDob;
  color: deeppink;
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 0;
  width: 100%;
  height: 100vh;
  max-width: none;
  margin: 0;
} */

#invitation-card .invitation-card {
  background-image: url('/images/bia.JPG');
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  max-width: none;
  margin: 0;
  font-family: FontDob;
  color: white;
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
}

#invitation-card .cata-section {
  clear: both;
  position: relative;
}

#invitation-card .cata-container {
  max-width: 100%;
  transition: transform .5s;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  z-index: 5;
}

#invitation-card .selection-overlay {
  opacity: 0.2;
  background-color: #0a0a0a;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#invitation-card .title {
  padding-top: 70px;
}

#invitation-card .name {
  font-size: 110px;
  line-height: 110px;
  margin: 50px 0 50px 0;
}

#invitation-card .time {
  font-family: FontRouge;
  color: white;
  font-size: 25px;
  margin: 40px 0 20px 0;
  font-weight: 300;
}

#invitation-card .address {
  font-family: FontRouge;
  color: white;
  font-size: 25px;
  font-weight: 300;
}

